<%inherit file="base.html" />
<%namespace file="entry.html" import="block_entry" />

<%block name="title">
   % if entry:
     ${ entry.title }
   % else:
     ${ conf.sitename }
   % endif
</%block>

<%block name="head">
    ${ parent.head() }
    % if entry:
      <meta name="description" content="${ entry.description }" />
      <meta name="keywords" content="${ ', '.join(entry.tags) }" />
    % endif
</%block>

<%block name="content">
    % for entry in env.entrylist:
        ${block_entry(entry)}
    % endfor
    % if env.prev is not None:
        <a href="${ env.path + env.prev + '/' }" class="page floatright">
        ${ env.prev.title }
        </a>
    % endif
    % if env.next is not None:
        <a href="${ env.path + env.next + '/' }" class="page floatleft">
        ${ env.next.title }
        </a>
    % endif
</%block>

<%block name="footer">
    ${ parent.footer() }
    % if 'disqus_shortname' in conf and env.type == 'index':
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '${ conf.disqus_shortname }'; // required: replace example with your forum shortname

            if (window.location.hostname != 'localhost') {
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    s.src = '${ env.protocol }://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            }
        </script>
        % endif
</%block>
